@charset "utf-8";
.tx-servicemgr-pi3 #uploadform {background-color: #FFFFF4; width: 450px; }
.tx-servicemgr-pi3 #uploadform div { padding: 2px; }
.tx-servicemgr-pi3 #date { clear: right; float: left; left: 30px; position: relative; width: 200px; }
.tx-servicemgr-pi3 #subject { clear: left; float: left; }
.tx-servicemgr-pi3 #preacher { clear: left; }
.tx-servicemgr-pi3 #tags { clear: both; float: none; }
.tx-servicemgr-pi3 #tagcontainer { border: thin dashed #424242; clear: right; height: 120px; overflow: auto; padding: 7px; width: 250px; }
.tx-servicemgr-pi3 #taglabel { clear: left; float: left; width: 50px; }
.tx-servicemgr-pi3 #filediv { clear: both; width: 100%; }
.tx-servicemgr-pi3 #submit { height: 30px; width: 100%;  }
.tx-servicemgr-pi3 #submit input { clear: both; float: right; }

.tx_servicemgr_errormsg { background-color: #FFCCCC; border: 1px solid #FF3333; clear: both; font-family: Arial, Helvetica, sans-serif; font-size: small; font-weight: bold; margin: 5px; vertical-align: middle; text-align: left; background-image: url(exclamation.png); background-repeat: no-repeat; background-position: 7px 7px; padding-top: 8px; padding-right: 7px; padding-bottom: 7px; padding-left: 28px; }

.tx-servicemgr-se-head span { display: block; float: left; }
.tx-servicemgr-se-head br { clear: right; }
.tx-servicemgr-label { display:block; float: left; width: 50px; padding-right: 3px; text-align:right; }
.tx-servicemgr-se-sermon { margin: 20px 0 0 15px; }
.tx-servicemgr-se-sermonplayer { float: none; margin: 5px 0 0 10px; }
.tx-servicemgr-se-notes { margin: 7px 0 0 15px; }

.tx-servicemgr-pi1 td, .tx-servicemgr-pi1 th,
.tx-servicemgr-pi2 td, .tx-servicemgr-pi2 th { padding: 2px; vertical-align: top; }
.tx-servicemgr-se-backlink { padding-top: 20px; }

.tx-servicemgr-sa-subjectsermon span { display:block; }
.tx-servicemgr-sa-sermon { margin-left: 10px; margin-bottom: 7px; }
.tx-servicemgr-sa-sermon-info { float:left; padding-right: 5px; }
.tx-servicemgr-sa-sermon-buttons { float: right; }
.tx-servicemgr-sa-sermon br { clear:right; }

.fulldutyschedule th { background-color: #EEEEEE; font-weight: bold; padding: 0 2px; }
.fulldutyschedule td { padding: 2px; }
.fulldutyschedule td, .fulldutyschedule th { border-top: thin solid #BBBBBB; border-left: thin solid #BBBBBB; }
.fulldutyschedule { border-bottom: thin solid #BBBBBB; border-right: thin solid #BBBBBB; }
.dutyschedule-spacer { background-color: #FCFCFC !important; width: 2px; }
.dsc-normal { background-color: #FFFFFF; }
.dsc-notneeded { background-color: #FFCC00; }

.tx-servicemgr-pi4 { padding-top: 10px; }
.smgr-ae-header { padding-bottom: 20px; }
.smgr-ae-body dl { margin: 0; padding: 0; width: 500px; }
.smgr-ae-body dt,
.smgr-ae-body dd { margin: 0; padding: 0 0 15px 0; float: left; }
.smgr-ae-body dt { text-align: right; clear: both; width: 110px; padding-right: 5px; }
.smgr-ae-body dd { text-align: left; width: 210px; }
.smgr-ae-body .col-1dd { clear: none; width: auto; }
.smgr-ae-body .col-2dt { clear: none; width: auto; padding-left: 15px; }
.smgr-ae-body .smgr-ae-cbarray { text-align: left; height: 100px; overflow: auto; width: 200px; border: thin dashed #666666; padding:5px; }
.smgr-ae-body .smgr-ae-singlecb { width: auto; min-width: 110px; }
.smgr-ae-body textarea { width: 210px; }
.smgr-ae-body .smgr-ae-addwrap { text-align: right; }
.smgr-ae-body .smgr-ae-addwrap img { float: right; clear:both; padding-top: 5px; }
.smgr-ae-body dd .addIcon { padding-left: 2px; }
.smgr-ae-body br { clear: right; }
.smgr-ae-body dl .clear { clear: both; }

textarea { background-color:#FEFEFE; border-color:#838EA0 #545861 #545861 #838EA0; border-style:solid; border-width:1px; }
select, textarea, input { color: #212424; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; }