<!-- ###PREVIEWLIST### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HNOTES###</th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td><td>###SUBJECT###</td><td>###NOTES###</td></tr><!-- ###ROW### -->
</table>
<!-- ###PREVIEWLIST### -->

<!-- ###SERMONLIST### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HSIZELENGTH###</th><th></th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td><td>###SUBJECT###</td><td>###SIZELENGTH###</td><td>###DOWNLOAD### ###PLAY###</td></tr><!-- ###ROW### -->
</table>
<!-- ###SERMONLIST### -->

<!-- ###SERMONLISTADMIN### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HSERIES###</th><th>###HAUDIOFILES###</th><th></th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td><td>###SUBJECT###</td><td>###SERIES###</td><td>###AUDIOFILES###</td><td>###UPLOAD###</td></tr><!-- ###ROW### -->
</table>
<!-- ###SERMONLISTADMIN### -->

<!--- ###SERMONUPLOADFORM### -->
<div id="uploadform" class="tx_servicemgr_pi3">###TITLE###
  <div id="postData">
  	<div id="subject">###HSUBJECT###: ###SUBJECT###</div><div id="date">###HDATE###: ###DATE###</div>
    <div id="preacher">###PREACHER###</div>
    <div id="tags">
    	<div id="taglabel">###HTAGS###</div>
        <div id="tagcontainer">
        	###TAGS###
		</div>
	</div>
    <div id="filediv">###HFILE###:&nbsp;###FILE###</div>
    <div id="submit">###SUBMIT###</div>
  </div>
</div>
<!--- ###SERMONUPLOADFORM### -->