<!-- ###PREVIEWLIST### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HNOTES###</th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td><td>###SUBJECT###</td><td>###NOTES###</td></tr><!-- ###ROW### -->
</table>
<!-- ###PREVIEWLIST### -->

<!-- ###SERMONLIST### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HFILE###</th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td>
	<td>###SUBJECT###</td>
	<td><!-- ###FILES### -->
		<div class="sermonfiles">
		###FILETITLE### &#0150; <i>###SIZE###, ###LENGTH###</i> ###DOWNLOAD### ###PLAY###
		</div><!-- ###FILES### -->
	</td>
</tr><!-- ###ROW### -->
</table>
<!-- ###SERMONLIST### -->

<!-- ###SERMONLISTADMIN### -->
<table>
<!-- ###HEADERROW -->
<tr><th>###HDATE###</th><th>###HSUBJECT###</th><th>###HSERIES###</th><th>###HAUDIOFILES###</th><th></th></tr><!-- ###HEADERROW -->
<!-- ###ROW### -->
<tr><td>###DATE###</td><td>###SUBJECT###</td><td>###SERIES###</td><td>###AUDIOFILES###</td><td>###UPLOAD###</td></tr><!-- ###ROW### -->
</table>
<!-- ###SERMONLISTADMIN### -->

<!-- ###SERMONUPLOADFORM### -->
<div id="uploadform">###TITLE###
  <div id="postData">
  	<div id="subject">###HSUBJECT###: ###SUBJECT###</div><div id="date">###HDATE###: ###DATE###</div>
    <div id="preacher">###PREACHER###</div>
    <div id="tags">
    	<div id="taglabel">###HTAGS###</div>
        <div id="tagcontainer">
        	###TAGS###
		</div>
	</div>
    <div id="filediv">###HFILE###:&nbsp;###FILE###</div>
    <div id="submit">###SUBMIT###</div>
  </div>
</div>
<!-- ###SERMONUPLOADFORM### -->

<!-- ###EVENTSINGLEVIEW### -->
<div class="eventsingleview">
	<h2>###TITLE###</h2>
	<div id="esv-information">
		<div id="esv-date"><span class="label">###L_DATE###:</span>&nbsp;<span	class="value">###DATE###, ###TIME### h</span></div>
		<div id="esv-series"><span class="label">###L_SERIES###:</span>&nbsp;<span class="value">###SERIES###</span></div>
		<div id="esv-tags"><span class="label">###L_TAGS###:</span>&nbsp;<span class="value">###TAGS###</span></div>
	</div>
	<div id="esv-audiocontainer">
	<div id="esv-audio1" class="esv-audioitem"></div>
	<div id="esv-audio2" class="esv-audioitem-multi">
		<h3>Event Title 1</h3>
        <div class="esv-download"><input type="button" value="Download" /></div>
        <div class="esv-play">
        	###PLAYER###
        </div>
	  <div class="esv-audio-preacher">Predigt: Hans Mustermann</div>
		<div class="esv-audio-id3">
			<h4>Meta-Informationen</h4>
			Dauer:&nbsp;<span class="value">8.51 Min</span><br />
			<span class="label">Bitrate:</span>&nbsp;<span class="value">16000 Bit</span><br />
			<span class="label">Dateigr&ouml;&szlig;e:</span>&nbsp;<span class="value">5,23 MB</span></div>
		</div>
	</div>
</div>
<!-- ###EVENTSINGLEVIEW### -->